/* TEST */
.alt-col{
    height: 300px;
    background-color: yellow;
}

/* COMMON */
.margin-right{
    border-right: 1px solid black;
}

/* FOOTER */
/* NAV */
.contain-nav{
    max-width: 992px;
    margin: auto;
    padding: 20px 0;
}

.menu ul {
    text-align: right;
}

.menu  li{
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 0 10px;
}

.menu .lingua ul {
    text-align: left;
}

.menu .contain .lingua li{
    border-left: 1px solid black ;
}

.menu .contain .lingua li:first-child{
    border: none;
}

.menu .lingua li a{
    padding: 0 5px;
}

.burger-menu{
    text-align: right;
    font-size: 23px;
}
/* FINE NAV */

/* JUMBOTRON */
.jumbotron{
    background-image: url(../img/hero-bg.jpg);
    height: 550px;
    background: contain;
    color: white;
}

.finestra-motto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 50px;
}

.finestra-motto div{
    padding: 15px 0;
}
/* FINE JUMBOTRON */
/* FINE FOOTER */

/*MAIN*/
.#prodotti{
    padding: 20PX;
}

.col_inner{
    padding: 10px;


    background-color: red;
    height: 100%;
}
/*FINE MAIN*/
